<link rel="stylesheet" href="./css/forms.css">
<section class="contenedor-formulario registro">
    <div class="login">
        <div class="login-header">
            <h2 id="iniciarSesion">Registrate</h2>
            <p id="pIniciarSesion">Por favor regístrese si todavia no tiene una cuenta</p>
        </div>
        <form class="login-contenido" id="formularioRegistro">
            <div class="login-item">
                <input type="text" name="username" placeholder="Ingrese su nombre" id="regUsuario">
            </div>
            <div class="login-item">
                <input type="email" name="mail" placeholder="Ingrese su mail" id="regEmail">
            </div>
            <div class="login-item">
                <input type="password" name="password" placeholder="Ingrese su contraseña" id="regPassword">
            </div>

            <button type="submit" id="btnRegistrar">REGISTRARME</button>
            <button id="btnVolver">VOLVER</button>
        </form>

    </div>
</section>

<script src="./js/forms.js" charset="utf-8"></script>