<h1>Hola!! Esta es la página de inicio de mi aplicación.</h1>
<h2>Lista de Productos:</h2>
<ul>
    {{#each products}}
    <li>{{this.title}} - ${{this.price}} - {{this.description}}.</li>
    {{/each}}
</ul>

<script src="/socket.io/socket.io.js"></script>;
<script src="/js/home.js"></script>