<link rel="stylesheet" href="./css/forms.css">
<section class="contenedor-formulario">
    <div class="login">
        <div class="login-header">
            <h2 id="iniciarSesion">Iniciar sesión</h2>
            <h3 id="pIniciarSesion">Por favor inicie sesión para continuar</h3>
        </div>
        <form class="login-contenido" id="formulario-login" action="/users/login" method="post">
            <div class="login-item">
                <input type="text" name="email" placeholder="Ingrese su email" id="email">

            </div>
            <div class="login-item">
                <input type="password" name="password" placeholder="Ingrese su contraseña" id="logPassword">
            </div>
            <div class="login-item-otro">
                <div class="checkbox">
                    <input type="checkbox" id="recordarmeCheckbox">
                    <label for="recordarmeCheckbox" id="recordarme">Recordarme</label>
                </div>
                <p id="olvideContraseña">Olvidé mi contraseña!</p>
            </div>
            <button type="submit" id="btnIngresar" value="LOGIN">INGRESAR</button>
        </form>
        <div class="login-footer">
            <h5 id="crearCuenta">Todavía no tenes cuenta?</h5> 
            <p onclick="location.href='/register'">Creá una.</p>
        </div>
        <div class="login-footer">
            <p onclick="location.href='/users/register-github'">Iniciá sesión con github</p>
        </div>
    </div>
</section>

<script src="./js/forms.js" charset="utf-8"></script>