<link rel="stylesheet" href="./css/forms.css">
<section class="contenedor-formulario registro">
    <div class="login">
        <div class="login-header">
            <h2 id="iniciarSesion">Registrate</h2>
            <p id="pIniciarSesion">Por favor regístrese si todavia no tiene una cuenta</p>
        </div>
        <form action="users/register" method="post" class="login-contenido" id="formularioRegistro">
            <div class="login-item">
                <input type="text" name="first_name" placeholder="Ingrese su nombre" id="first_name">
            </div>
            <div class="login-item">
                <input type="text" name="last_name" placeholder="Ingrese su apellido" id="last_name">
            </div>
            <div class="login-item">
                <input type="text" name="age" placeholder="Ingrese su edad" id="age">
            </div>
            <div class="login-item">
                <input type="email" name="email" placeholder="Ingrese su mail" id="email">
            </div>
            <div class="login-item">
                <input type="password" name="password" placeholder="Ingrese su contraseña" id="password">
            </div>
            <button value="REGISTER" type="submit" id="btnRegistrar">REGISTRARME</button>
            
        </form>
        <div class="login-contenido">
            <button id="btnVolver" onclick="location.href='/login'">VOLVER</button>
        </div>
    </div>
</section>

<script src="./js/forms.js" charset="utf-8"></script>