<link rel="stylesheet" href="/css/forms.css">
<section class="contenedor-formulario">
    <div class="login">
        <div class="login-header">
            <h2 id="iniciarSesion">Recuperar contraseña</h2>
            {{#if successMessage}}
            <h3 id="pIniciarSesion">{{successMessage}}</h3>
            {{else}}
            <h3 id="pIniciarSesion">Por favor ingrese su nueva contraseña.</h3>
            {{/if}}
        </div>

        {{#if errorMessage}}
        <div class="alert error">
            {{errorMessage}}
        </div>
        {{/if}}

        {{#unless successMessage}}
        <form class="login-contenido" id="formulario-login" action="/resetpassword" method="post">
            <div class="login-item">
                <input type="password" name="password" placeholder="Nueva contraseña" id="password" required>
            </div>
            <button type="submit" id="btnIngresar" value="RESETPASS">RESTABLECER CONTRASEÑA</button>
        </form>
        {{/unless}}
        <div class="login-footer">
            <p onclick="location.href='/mailtoresetpass'">Volver a enviar mail de recuperación.</p>
            <button onclick="location.href='/login'">VOLVER</button>
        </div>
    </div>
</section>