@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #FFF8EA;
    transition: 0.5s;
    font-size: 14px;
}



.login-header h3, .login-footer h5{
    font-size: 14px;
}

.contenedor-formulario {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.contenedor-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.login, .contenido-perfil {
    width: 450px;
    height: 90%;
    background-color: #fff8eabc;
    color: black;
    padding: 4rem;
    padding-top:2rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido-perfil{
    background-color: #fff8ea;
}

.login::before, .contenido-perfil::before {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, .15);
    inset: 0;
    transform: rotate(-5deg);
    border-radius: 10px;
    z-index: -1;
}

.perfil-header h2{
    font-size: 24px;
    padding-bottom: 8px;
}


.login p {
    transition: 0.5s;
    color: black;
}

.contenedor-formulario p {
    color: #C62727;
}

.contenedor-formulario p:hover {
    font-weight: bold;
    color: #C62727;
    cursor: pointer;
}

.login-header,
.login-header h2 {
    margin-bottom: 1rem;
}

.login-header h2+div {
    font-size: calc(1rem * .8);
    opacity: .8;
}

.login-contenido {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.login-contenido .checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

.login-contenido .login-item-otro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8)
}

.login-contenido input{
    border: none;
    outline: none;
    width: 250px;
    height: 30px;
    background-color: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 2.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.login-contenido input:focus {
    background-color: #fff8eacd;
}

.login-contenido input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #c62727;
}

.login-contenido button, .login-footer button{
    border: none;
    outline: none;
    background-color: #C62727;
    color: #FFF8EA;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 0.6rem;
    margin-bottom: 4px;
    border-radius: 100px;
    transition: background .5s;
}

.login-footer button{
    width: 100%;
}

.login-contenido button:hover , .login-footer button:hover{
    cursor: pointer;
    background-color: #a12020;
}

.login-footer {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    width: 100%;
}

.perfil-header p{
    color: black;
}

.perfil-header p:hover, .perfil-header h2{
    color: black;
    cursor:default;
    font-weight: normal;
}
